@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --color1: #1333e6;
    --color2: #1333e681;
    --color3: #9298be;
    --color4: #e1e5f7;
    --color5: #fff;
    --color6: #9c9c9c88;
    --color7: #000000;

    --font-small: 18px;
    --font-smaller: 14px;

    --porcent100: 100%;
    --porcent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s
}

* {
    padding: 0;
    margin: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color2);
    background-color: var(--color5);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: var(--porcent100);
    vertical-align: middle;
    border-radius: 10px;
}

strong {
    font-weight: var(--fw8);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder {
    font: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins';
}

h1 {
    font-size: calc(1.3em+1vw);
    font-weight: var(--fw8);
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: var(--fw7)
}

h4 {
    font-size: 1em;
    font-weight: var(--fw6);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contaier {

    margin: 0 auto;
    padding: 0 0.938em;
}

.column {
    margin-left: -0.939em;
    margin-right: -0.939em;
    ;
}

.column .row {
    padding: 0 0.939em;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-links a:hover {
    color: var(--color1);
}

.second-links a:hover {
    color: var(--color1);
}

.second-links:nth-child(2) {
    display: flex;
    text-align: center;
}

.icon-small,
.icon-large {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small {
    font-size: 1.25em;
    margin-left: auto;
}

.icon-large {
    font-size: 1.75em;
    padding: 3px;
}

.mobile-hide {
    display: none;
}

.object-cover {
    position: absolute;
    object-fit: cover;
    width: var(--porcent100);
    height: var(--porcent100);
    display: block;
}

.products .media {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.primary-button .second-links,
.light-button {
    font-size: var(--font-small);
    padding: 0.9em 2em;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 2em;
    text-transform: var(--trans-background-color);
}

.primary-button {
    background-color: var(--color4);
    color: var(--color1);
}

.primary-button:hover {
    background-color: var(--color5);
}

.secondary-button:hover {
    background-color: var(--color2);
    color: var(--color1);
}

.light-button {
    background-color: var(--color5);
}

.light-button:hover {
    background-color: var(--color2);
    color: var(--color1);
}

.view-all {
    font-size: var(--font-small);
    display: flex;
    gap: 1em;
    transition: var(--trans-color);
}

.mini-text {
    font-size: var(--font-smaller);
    color: var(--color7);
}

/*HEADER*/
:where(.off-canvas, header) li>a {
    text-align: center;
    display: flex;
    position: relative;
    line-height: inherit;
    transform: var(--trans-color);
}


.header-top .wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

.header-top .wrapper ul {
    gap: 2em;
}

.header-top li {
    position: relative;
}

.header-top ul ul {
    position: absolute;
    left: -1em;
    line-height: 2em;
    background-color: var(--color5);
    border: 1px solid var(--color6);
    z-index: 1;
    display: none;
}

:where(.header-top, .thetop-nav) .right ul ul li a {
    padding: 0.25em 1em;
}

:where(.header-top, .thetop-nav) .right ul ul li.current a {
    background-color: var(--color6);
}

.header-top li:hover ul {
    display: block;

}

/*HEADER-NAV*/
.header-nav {
    display: flex;
    align-items: center;
}


.trigger {
    font-size: 1.5em;
    display: flex;
    padding: 0.25em;
    margin-right: 0.5em;
}

.logo {
    width: 140px;
    height: 40px;
    background-image: url(./img-logos/ciriacioicon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.header-nav nav>ul {
    line-height: 100px;
    gap: 2em;
}

.fly-item {
    width: 20px;
    position: absolute;
    height: 16px;
    font-size: var(--font-smaller);
    padding: 3px;
    text-align: center;
    line-height: 10px;
    color: var(--color5);
}

.iscart {
    display: flex;
}

nav .fly-item {
    bottom: 15px;
    right: 22px;
    position: relative;
}

.header-nav .right {
    right: auto;
    display: flex;
    position: relative;
   
}

.header-nav-cart .right {
    right: auto;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: nowrap;
   
}

.header-nav .right .icon-large {
    position: relative;
}

.item-number {
    top: 25px;
    right: 17px;
    width: 20px;
    height: 20px;
    background-color: var(--color5);
    border-radius: var(--porcent50);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    border: 1px solid var(--color1);
}

.mega .flexcol {
    flex: 1;
    min-width: 180px;
    padding-right: 2.5em;
    margin-bottom: 1.5em;
    z-index: 1;
}

.header-main {
    background-color: var(--color3);
    padding: 1.28em 0;
    margin-bottom: 2em;
}

.dpt-cat {
    position: relative;
    z-index: 10;
}

.dpt-cat .dpt-head {
    position: relative;
    width: 300px;
    padding: 0.75em 1.5em;
    background-color: var(--color1);
    border-radius: 7px 7px 0 0;
    color: var(--color5);
    margin-bottom: -2.15em;
}

.dpt-cat .dpt-head .mini-text {
    color: var(--color5);
}

.dpt-cat .dpt-trigger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.4em;
    height: 60px;
    width: 60px;
}

.dpt-menu .mega {
    display: block;
}

.dpt-menu>ul>li>a {
    font-size: var(--font-small);
    height: 46px;
    align-items: center;
    margin: auto;
}

.dpt-menu .has-child:hover ul {
    display: block;
}

.dpt-menu .has-child li a:hover {
    text-decoration: underline;
}

.header-main .right {
    flex: 1;
}

.search-box {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    margin: auto;
}

div.search input {
    line-height: 3.25em;
    padding: 0 2em 0px 2.5em;
    top: 10px;
    border: 1px solid;
    outline: 0;
    width: var(--porcent100);
    border-radius: 7px;
    font-size: 0.9em;
    font-weight: var(--fw3);
}

div.search :where(span, button) {
    position: absolute;
    top: 0px;
    padding: 0.55em 1.5em;
    font-size: 1em;
    color: var(--color1);
    height: var(--porcent100);
}

div.search button {
    right: 0;
    border: 0;
    outline: 0;
    font-size: 0.875em;
    font-weight: var(--fw6);
    background-color: var(--color1);
    color: var(--color5);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    transition: var(--trans-background);
}

div.search button:hover {
    background-color: var(--color5);
    color: var(--color1);
    transition: var(--trans-background-color);
}

.search-icon {
    color: var(--color1);
    position: absolute;
    top: 13px;
    left: 15px;
}


.site-off {
    position: fixed;
    width: 320px;
    height: var(--porcent100);
    background-color: var(--color5);
    overflow-y: auto;
    z-index: 1000;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform .4s, visibility .4s;
    will-change: transform, visibility;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0px;
    height: 100px;
    width: auto;
    z-index: 100;
    background-color: var(--color3);
    align-items: center;

}

.cart-total {
    font-size: 12px;
    color: var(--color1);
    font-weight: 600;
}

.titulo-principal {
    text-transform: capitalize;
    margin-bottom: 20px;
}

.btn-categoria {
    cursor: pointer;
}

.btn-categoria .active>.icon-small {
    rotate: 90deg;
}

.div-container-productos {
    margin: 5px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.producto {
    box-shadow: 0px 0px 5px black;
    border-radius: 2rem;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.prodcuto-imagen {
    max-width: 80%;
    border-radius: 2rem;
}

.productos-detalles {
    margin-top: -2rem;
    padding: .5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.productos-detalles>h3 {
    font-size: 1.2rem;
    color: var(--color1);
}

.productos-detalles>p {
    font-weight: 800;
    color: var(--color7);
}

.productos-detalles-resultado {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.btd-product,
.carrito-acciones-comprar,
.carrito-acciones-vaciar {
    text-align: center;
    border: 0;
    padding: .3rem;
    color: var(--color5);
    border: 3px solid var(--color1);
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--color3);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.carrito-producto-eliminar {
    border-radius: var(--porcent50);
    color: var(--color1);
    width: 30px;
    height: 30px;
    border-color: var(--color1);
}

.btd-product:hover,
.carrito-acciones-comprar:hover,
.carrito-acciones-vaciar:hover {
    background-color: var(--color5);
    color: var(--color1);
}

.btd-add-product {
    text-align: center;
    border: 0;
    padding: .3rem;
    color: var(--color5);
    border: 3px solid var(--color1);
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--color3);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btd-add-product:hover {
    background-color: var(--color5);
    color: var(--color1);
}

.searchresult {
    margin: 30px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.searchresult>a {
    width: 120px;
    text-align: center;
}

.searchResultado {
    margin: 30px;
    gap: 20px;
    padding: 50px;
    max-width: 800px;
    border-radius: 30px;
    border: 1px solid var(--color1);
}

.div-tienda-resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.disabled {
    display: none;
}


.btn-aside {
    border: 3px solid var(--color1);
    color: var(--color5);
    border-radius: 1rem;
    gap: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--color3);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-aside:hover {
    background-color: var(--color5);
    color: var(--color1);
}



.product-container {

    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div-tienda {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 0.5fr 3fr;

}

.carrito-producto {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 14px solid var(--gradient);
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;

}

.contenedor-carrito {
    width: 600px;
    min-height: 300px;
}

.carrito-acciones {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: sticky;
    left: 100px;
    height: 100px;
}

.carrito-acciones-total {
    color: var(--color7);
    font-weight: 700;
}

.carrito-producto-imagen {
    width: 30%;
}

.div-line-container {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 900px;
    height: 2px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(19, 51, 230, 1) 40%, rgba(33, 63, 232, 1) 60%, rgba(255, 255, 255, 1) 100%);
}

.div-line {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 400px;
    height: 2px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(19, 51, 230, 1) 40%, rgba(33, 63, 232, 1) 60%, rgba(255, 255, 255, 1) 100%);
}

.hero-container {
    max-width: 1000px;
    height: auto;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.hero-img {
    width: 500px;
    height: 400px;
    background-image: url(./imagenes/hero/hero.jpg);
    background-size: cover;
    border-radius: 20px;
}

.text-container {
    max-width: 300px;
    margin: 10px;
}

.text-container>h1 {
    color: var(--color1);
}

.text-container>p {
    color: var(--color7);
}

.btn-build {
    margin: auto;
    width: 200px;
    display: flex;
    justify-content: center;
    border: 3px solid var(--color1);
    color: var(--color5);
    border-radius: 1rem;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--color3);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-build:hover {
    background-color: var(--color5);
    color: var(--color1);
}

.mostrar-videos {
    width: 500px;
    height: 400px;
}

iframe {
    width: 500px;
    height: 400px;
    border-radius: 20px;
    ;
    box-shadow: 0px 0px 10px 0px black;
}

.new_footer {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.new_footer>ul {
    margin: 10px;
}

.stockOut {
    background-color: red;
    cursor: none;
}

.div-cart-productos {
    margin: auto;
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
}
.flexitem-cart{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}

.row-banner {
    margin: 30px;
    height: 100px;
    width: 900px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--color2);
    border-radius: 10px;
    color: var(--color4);

}

#main-footer {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: 2rem;
    background: var(--color3);
    color: var(--color5);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    width: auto;
}


.header-nav .right li>a {
    margin-left: 0.25em;
}


.header-main .right {
    max-width: 600px;
    margin-left: auto;
}

.div-container-productos {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1rem;
}

.menu-responsive .is-active {
    background-color: none;

    display: none;
}

.active-modal {
    width: 300px;
    height: 50px;
    padding: 5px;
    background-color: var(--color1);
    color: var(--color7);
    position: fixed;
    bottom: -50px;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 8px;
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    bottom: 10px;
}

.active-modal-cart {
    width: 30%;
    height: 50px;
    padding: 5px;
    background-color: var(--color1);
    color: var(--color7);
    position: fixed;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.section-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.form-contact-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: var(--font-small);
}

.contacto-input {
    padding: 10px;
    border-radius: 10px;
    font-size: var(--font-small);
}

.contacto-label {
    color: var(--color1);
    margin-left: 3px;
    margin-bottom: 2px;
}

/*Estilos de login y Registro*/

.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-login {
    max-height: 300px;
}

.register-form {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 15px;
    gap: 15px;
    width: 440px;
    margin-top: 200px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color2);
}


.div-label-container {
    padding: 5px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-label-container>input {
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
}

.div-label-container>label {
    font-size: 20px;
    border-radius: 5px;
    margin: 2px;
}

.btn-self-style {
    width: 150px;
    text-align: center;
    border: 0;
    padding: .3rem;
    color: var(--color5);
    border: 3px solid var(--color1);
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--color3);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-self-style:hover {
    background-color: var(--color5);
    color: var(--color1);
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all .2s linear;
    z-index: 100;
}

.main-nav.show {
    display: flex;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--color4);
}

.nav-links {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 240px;
    align-items: center;
    justify-content: flex-start;
}

.link-item {
    margin-top: 2rem;
    color: var(--color1);
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.link-item::after {
    position: absolute;
    content: "";
    background-color: black;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
}

.link-item:hover::after {
    width: 100%;
}

.button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--color1);
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear;
}

.button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: var(--color1);
}

.button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-10px, 5px);
}

.button-menu.close span:nth-child(3) {
    display: none;
}




@media screen and (min-width:1030px) {
    .div-tienda {
        max-width: 1000px;
        display: grid;
        grid-template-columns: 0.5fr 3fr;
    }
    .btn-aside {
        border: 3px solid var(--color1);
        color: var(--color5);
        border-radius: 1rem;
        gap: 10px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 1rem;
        background-color: var(--color3);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }
    .button-menu {
        display: none;
    }

    .main-nav {
        position: static;
        margin-left: 0;
        flex-basis: 70%;
        height: 100%;
    }

    .nav-links {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    .link-item {
        display: inline-block;
        margin-top: 0;
        margin-right: 2rem;
    }

    .list-menu {
        gap: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: sticky;
        top: 120px;
        right: 120%;
        height: 100px;
        width: 120px;
        text-align: center;
    }
}

@media (max-width:1024px) {

    .header-top .wrapper {
        font-size: var(--font-smaller);
    }

    .wrapper.flexitem {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        left: 0px;
    }
    .wrapper-cart.flexitem{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        left: 0px;
        gap: 150px;
    }
    .header-main {
        background-color: var(--color3);
        padding: 1em 0;
        margin-bottom: 2em;
    }

    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .header-container {
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0px;
        height: 80px;
        width: 100%;
        z-index: 100;
        background-color: var(--color3);
        flex-direction: row;
        align-items: center;
    }

    .headerNav {
        left: 0;
        transition: all .92s;
        z-index: 10;
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .div.search input {
        line-height: 3.25em;
        padding: 0 6em 0px 3.2em;
        border: 0;
        outline: 0;
        width: var(--porcent100);
        border-radius: 7px;
        font-size: 0.9em;
        font-weight: var(--fw3);
    }

    .container {
        height: 10vh;
        width: 100vw;
        display: flex;
        padding: 0 2em;
        justify-content: space-between;
    }

    .hero-container {
        width: auto;
        height: auto;
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        color: var(--color1);

    }

    .hero-img {
        max-width: 500px;
        max-height: 500px;
    }

    .mostrar-viteos {
        max-width: 500px;
        max-height: 500px;
    }

    iframe {
        width: 500px;
        height: 500px;
    }

    .videos-container {
        display: flex;
    }

    .row-banner {
        margin: 20px;
        height: auto;
        width: auto;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--color2);
        border-radius: 10px;
        color: var(--color4);
        font-size: var(--font-smaller);
        flex-direction: column;

    }

    .titulo-principal {
        text-transform: capitalize;
        margin-bottom: 20px;
        font-size: 25px;
    }

    .div-tienda {
        max-width: 900px;
        gap: 50px;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .list-menu{
        margin: 30px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .btn-categoria{
        border: 3px solid var(--color1);
    color: var(--color5);
    border-radius: 1rem;
    gap: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--color3);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 120px;
    text-align: center;

    }


    .product-container {
        margin: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .div-container-productos {
        max-width: 600px;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        flex-direction: column;
        gap: 1rem;
    }


    .producto {
        box-shadow: 0px 0px 5px black;
        border-radius: 2rem;
        height: 400px;
        width: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .prodcuto-imagen {
        max-width: 40%;
        border-radius: 2rem;
    }

    .productos-detalles {
        margin-top: 1rem;
        padding: 0.5rem;
        background-color: var(--color5);
        display: flex;
        flex-direction: column;

    }

    .btd-product,
    .btd-add-product {
        text-align: center;
        border: 0;
        padding: 0.3rem;
        color: var(--color5);
        border: 3px solid var(--color1);
        border-radius: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
        background-color: var(--color3);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .new_footer {
        width: auto;
        margin: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 15px;
        color: var(--color1);
    }
    .new_footer h3{
        color: var(--color7);
        text-decoration: underline;
    }

    .div-line-container {
        display: none;
    }

    .searchresult {
        margin: 30px;
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .titulo-principal-detalles {
        display: flex;
        text-align: center;
        margin: 40px;
        width: auto;
    }

    #titulo-aside {
        display: none;
    }

    .menu-responsive {
        margin-left: 25px;
        display: flex;
        position: sticky;
        text-align: center;
        align-items: center;
    }

    #formulario {
        position: relative;
        width: 450px;
        margin: auto;
    }

    #main-footer {
        background-color: var(--color3);
        color: var(--color5);
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
        width: auto;
    }

    .logo {
        width: 60px;
        height: 40px;
    }
    .contenedor-carrito {
        width: auto;
        min-height: auto;
        
    }
}

@media(max-width: 650px) {
    .header-container {
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0px;
        height: 80px;
        width: 100%;
        z-index: 100;
        background-color: var(--color3);
        flex-direction: row;
        align-items: center;
    }

    .menu-responsive {

        display: flex;
        position: relative;
        text-align: center;
        align-items: center;
    }

    .search-box {
        position: sticky;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 150px;
        margin: auto;
        align-items: center;
    }

    #formulario {
        position: relative;
        width: auto;
        margin: auto;
    }

    div.search input {
        line-height: 2em;
        padding: 0 2em 0px 0.5em;
        top: 10px;
        border: 1px solid;
        outline: 0;
        width: var(--porcent100);
        border-radius: 7px;
        font-size: 0.9em;
        font-weight: var(--fw3);
    }

    .search-icon {
        display: none;
    }

    #idButton {
        text-align: center;
        right: 0;
        border: 0;
        outline: 0;
        font-size: 0.6 em;
        font-weight: var(--fw6);
        background-color: var(--color1);
        color: var(--color5);
        border-radius: 0 7px 7px 0;
        cursor: pointer;
        transition: var(--trans-background);
    }

    div.search :where(span, button) {
        position: absolute;
        top: 0px;
        font-size: 0.6em;
        padding: 0.55em 0.5em;
        color: var(--color1);
        height: var(--porcent100);
    }
    .hero-img {
        max-width: 300px;
        max-height: 300px;
    }
    .product-container {
        margin: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .div-container-productos {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .producto {
        box-shadow: 0px 0px 5px black;
        border-radius: 2rem;
        height: 400px;
        width: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .prodcuto-imagen {
        max-width: 40%;
        border-radius: 2rem;
    }

    .productos-detalles {
        margin-top: 1rem;
        padding: 0.5rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: var(--color5);
        display: flex;
        flex-direction: column;

    }

    .btd-product,
    .btd-add-product {
        text-align: center;
        border: 0;
        padding: 0.3rem;
        color: var(--color5);
        border: 3px solid var(--color1);
        border-radius: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;
        background-color: var(--color3);
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }
    .carrito-producto {
        width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }
    .div-line {
        margin-top: 40px;
        margin-bottom: 20px;
        width: 300px;
        height: 2px;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(19, 51, 230, 1) 40%, rgba(33, 63, 232, 1) 60%, rgba(255, 255, 255, 1) 100%);
    }
    .carrito-acciones {
        margin: 40px;
        display: flex;
        flex-direction: column;
        position: sticky;
        left: 100px;
        height: 100px;
        align-content: center;
        align-items: center;
    }

    iframe,
    .mostrar-videos {
        max-width: 300px;
        max-height: 300px;
    }

    .new_footer {
        width: auto;
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 8px;
    }

    .new_footer>ul:first-child{
        display: none;
    }


}